<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.follow.mapper.ExtFollowUpRecordMapper">

    <select id="selectPoolList" resultType="io.cordys.crm.follow.dto.response.FollowUpRecordListResponse">
        SELECT
            id,
            customer_id,
            opportunity_id,
            type,
            clue_id,
            content,
            follow_time,
            owner,
            contact_id,
            create_time,
            update_time,
            create_user,
            update_user
        FROM
            follow_up_record
        WHERE
            organization_id =#{orgId}
          and type = #{type}
        <if test="resourceType == 'CUSTOMER'">
            AND customer_id = #{request.sourceId}
        </if>
        <if test="resourceType == 'CLUE'">
            AND clue_id = #{request.sourceId}
        </if>
        <if test="resourceType == 'OPPORTUNITY'">
            AND opportunity_id = #{request.sourceId}
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="orgId != null and orgId != ''">
            AND organization_id = #{orgId}
        </if>
        <if test="request.keyword != null and request.keyword != ''">
            AND content like concat('%', #{request.keyword},'%')
        </if>
        ORDER BY follow_time, create_time DESC
    </select>



    <select id="selectList" resultType="io.cordys.crm.follow.dto.response.FollowUpRecordListResponse">
        SELECT
        id,
        customer_id,
        opportunity_id,
        type,
        clue_id,
        content,
        follow_time,
        owner,
        contact_id,
        create_time,
        update_time,
        create_user,
        update_user,
        follow_method
        FROM
        follow_up_record
        <where>
            <if test="resourceType == 'CUSTOMER'">
                AND ( customer_id = #{request.sourceId}
                <if test="request.transitionIds != null and request.transitionIds.size > 0">
                    OR clue_id IN
                    <foreach collection="request.transitionIds" item="transitionId" open="(" close=")" separator=",">
                        #{transitionId}
                    </foreach>
                </if>
                )
            </if>
            <if test="resourceType == 'CLUE'">
                AND clue_id = #{request.sourceId}
            </if>
            <if test="resourceType == 'OPPORTUNITY'">
                AND opportunity_id = #{request.sourceId}
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="orgId != null and orgId != ''">
                AND organization_id = #{orgId}
            </if>
            <if test="request.keyword != null and request.keyword != ''">
                AND content like concat('%', #{request.keyword},'%')
            </if>

            <if test="customerData != null and !customerData.all and customerData.owner">
                <if test="customerData.userIds != null and customerData.userIds.size() > 0">
                    AND owner not in
                    <foreach collection="customerData.userIds" item="userId" open="(" close=")" separator=",">
                        #{userId}
                    </foreach>
                </if>
            </if>

            <if test="customerData != null and !customerData.all and !customerData.owner and !customerData.self">
                <if test="customerData.userIds != null and customerData.userIds.size() > 0">
                    AND owner not in
                    <foreach collection="customerData.userIds" item="userId" open="(" close=")" separator=",">
                        #{userId}
                    </foreach>
                </if>
            </if>

            <if test="customerData != null and !customerData.all and !customerData.owner and customerData.self">
                AND owner = #{userId}
            </if>
        </where>
        ORDER BY follow_time DESC, create_time DESC
    </select>


    <select id="selectRecord" resultType="io.cordys.crm.follow.domain.FollowUpRecord">
        select
        customer_id,
        opportunity_id,
        clue_id,
        follow_time,
        owner
        from follow_up_record
        where organization_id = #{orgId}
        and type = #{type}
        <if test="customerId != null and customerId != ''">
            AND customer_id = #{customerId}
        </if>
        <if test="clueId != null and clueId != ''">
            AND clue_id = #{clueId}
        </if>
        <if test="opportunityId != null and opportunityId != ''">
            AND opportunity_id = #{opportunityId}
        </if>
        order by follow_time desc
        limit 1
    </select>
    <select id="getNewContactCount" resultType="java.lang.Long">
        select count(*) from follow_up_record c

        <if test="request.dataPermission != null and request.dataPermission.deptIds.size() > 0">
            join sys_organization_user sou on c.owner = sou.user_id
            and (
            sou.department_id in
            <foreach collection="request.dataPermission.deptIds" item="deptId" open="(" close=")" separator=",">
                #{deptId}
            </foreach>
            <if test="request.dataPermission.searchType == 'ALL'">
                or sou.user_id = #{userId}
            </if>
            )
        </if>

        where c.organization_id = #{request.orgId}
        <if test="request.startTime != null and request.endTime != null">
            and c.create_time &gt;= #{request.startTime} and c.create_time &lt;= #{request.endTime}
        </if>

        <if test="request.dataPermission != null and request.dataPermission.self">
            and c.owner = #{userId}
        </if>
    </select>
</mapper>