<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cordys.common.mapper.CommonMapper">

    <sql id="moduleFieldCondition">
        <choose>
            <when test="condition.multipleValue != null and condition.multipleValue">
                <include refid="io.cordys.common.mapper.CommonMapper.arrayValueCondition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="${column}"/>
                </include>
            </when>
            <otherwise>
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="${column}"/>
                </include>
            </otherwise>
        </choose>
    </sql>

    <sql id="arrayValueCondition">
        <trim prefix="(" suffix=")">
            <choose>
                <!-- JSON_OVERLAPS 处理数组匹配 -->
                <when test="${condition}.operator == 'CONTAINS'">
                    JSON_OVERLAPS(${column}, JSON_ARRAY(
                    <foreach collection="${condition}.value" item="valueItem" separator=",">
                        #{valueItem}
                    </foreach>))
                </when>

                <when test="${condition}.operator == 'NOT_CONTAINS'">
                    ${column} is null or ${column} = '[]' or
                    NOT JSON_OVERLAPS(${column}, JSON_ARRAY(
                    <foreach collection="${condition}.value" item="valueItem" separator=",">
                       #{valueItem}
                    </foreach>))
                </when>

                <when test="${condition}.operator == 'IN'">
                    JSON_OVERLAPS(${column}, JSON_ARRAY(
                    <foreach collection="${condition}.value" item="tag" separator=",">
                        #{tag}
                    </foreach>))
                </when>

                <when test="${condition}.operator == 'NOT_IN'">
                    ${column} is null or ${column} = '[]' or
                    NOT JSON_OVERLAPS(${column}, JSON_ARRAY(
                    <foreach collection="${condition}.value" item="tag" separator=",">
                        #{tag}
                    </foreach>))
                </when>

                <!-- COUNT_GT 和 COUNT_LT -->
                <when test="${condition}.operator == 'COUNT_GT'">
                    JSON_LENGTH(${column}) &gt; #{condition.value}
                </when>

                <when test="${condition}.operator == 'COUNT_LT'">
                    <choose>
                        <when test="${condition}.value == 0">
                            false
                        </when>
                        <otherwise>
                            (JSON_LENGTH(${column}) &lt; #{condition.value} OR ${column} is null OR ${column} = '[]')
                        </otherwise>
                    </choose>
                </when>

                <!-- EMPTY / NOT_EMPTY -->
                <when test="${condition}.operator == 'EMPTY'">
                    (${column} IS NULL OR ${column} = '[]')
                </when>

                <when test="${condition}.operator == 'NOT_EMPTY'">
                    (${column} IS NOT NULL AND ${column} != '[]')
                </when>

            </choose>
        </trim>
    </sql>

    <sql id="condition">
        <trim prefix="(" suffix=")">
            <choose>
                <when test="${condition}.operator == 'CONTAINS'">
                    <foreach collection="${condition}.value.split(' ')" item="item" separator="and">
                        ${column} like CONCAT('%', #{item},'%')
                    </foreach>
                </when>
                <when test="${condition}.operator == 'NOT_CONTAINS'">
                    !(
                        <foreach collection="${condition}.value.split(' ')" item="item" separator="and">
                            ${column} like CONCAT('%', #{item},'%')
                        </foreach>
                    )
                </when>
                <when test="${condition}.operator == 'IN'">
                    <if test="'${column}' == 'value'">
                        `value`
                    </if>
                    <if test="'${column}' != 'value'">
                        ${column}
                    </if>
                    in
                    <foreach collection="${condition}.value" item="v" separator="," open="(" close=")">
                        #{v}
                    </foreach>
                </when>
                <when test="${condition}.operator == 'NOT_IN'">
                    !(
                        <if test="'${column}' == 'value'">
                            `value`
                        </if>
                        <if test="'${column}' != 'value'">
                            ${column}
                        </if>
                        in
                        <foreach collection="${condition}.value" item="v" separator="," open="(" close=")">
                            #{v}
                        </foreach>
                    )
                    or ${column} is null
                </when>
                <when test="${condition}.operator == 'BETWEEN'">
                    ${column} between #{condition.value[0]} and #{condition.value[1]}
                </when>
                <when test="${condition}.operator == 'GT'">
                    ${column} is not null and ${column} != '' and ${column} &gt; #{condition.value}
                </when>
                <when test="${condition}.operator == 'LT'">
                    ${column} is not null and ${column} != '' and ${column} &lt; #{condition.value}
                </when>
                <when test="${condition}.operator == 'EMPTY'">
                    ${column} is null or ${column} = ''
                </when>
                <when test="${condition}.operator == 'NOT_EMPTY'">
                    ${column} is not null and ${column} != ''
                </when>
                <when test="${condition}.operator == 'EQUALS'">
                    ${column} = #{condition.value}
                </when>
                <when test="${condition}.operator == 'NOT_EQUALS'">
                    !(
                        ${column} = #{condition.value}
                    )
                </when>
            </choose>
        </trim>
    </sql>



    <sql id="dataSourceCondition">
        <trim prefix="(" suffix=")">
            <choose>
                <when test="${condition}.operator == 'IN'">
                    ${column} in (
                    <foreach collection="${condition}.value" item="valueItem" separator=",">
                        #{valueItem}
                    </foreach>)
                </when>

                <when test="${condition}.operator == 'NOT_IN'">
                    ${column} NOT IN (
                    <foreach collection="${condition}.value" item="valueItem" separator=",">
                        #{valueItem}
                    </foreach>)
                </when>

                <!-- EMPTY / NOT_EMPTY -->
                <when test="${condition}.operator == 'EMPTY'">
                    (${column} IS NULL OR ${column} = '')
                </when>

                <when test="${condition}.operator == 'NOT_EMPTY'">
                    (${column} IS NOT NULL AND ${column} != '')
                </when>

            </choose>
        </trim>
    </sql>

    <sql id="searchMode">
        <choose>
            <when test="${searchMode} == 'AND'">
                AND
            </when>
            <when test="${searchMode} == 'OR'">
                OR
            </when>
        </choose>
    </sql>

    <sql id="filterInWrapper">
        <foreach collection="values" item="value" separator="," open="(" close=")">
            #{value}
        </foreach>
    </sql>

    <sql id="filterMultipleWrapper">
        JSON_OVERLAPS(${column},
        <choose>
            <when test="values != null and values.size() > 1">
                JSON_ARRAY(
                <foreach collection="values" item="value" separator=",">
                    CAST(#{value} AS SIGNED)
                </foreach>)
            </when>
            <otherwise>
                JSON_ARRAY(CAST(#{values[0]} AS SIGNED))
            </otherwise>
        </choose>)
    </sql>

    <sql id="sort">
        <choose>
            <when test="${sort} != null and ${sort}.valid()">
                <bind name="sortName" value="${sort}.name"/>
                <bind name="sortType" value="${sort}.type"/>
                order by
                <choose>
                    <when test="'${prefix}' != null and '${prefix}' != ''">
                        ${prefix}.${sortName} ${sortType}
                    </when>
                    <otherwise>
                        ${sortName} ${sortType}
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                <if test="'${defaultSort}' != null and '${defaultSort}' != ''">
                    order by
                    <choose>
                        <when test="'${prefix}' != null and '${prefix}' != ''">
                            ${prefix}.${defaultSort}
                        </when>
                        <otherwise>
                            ${defaultSort}
                        </otherwise>
                    </choose>
                </if>
            </otherwise>
        </choose>
    </sql>
</mapper>
