<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.customer.mapper.ExtCustomerMapper">

    <select id="list" resultType="io.cordys.crm.customer.dto.response.CustomerListResponse">
        select id, name, tags, tags, deal_status, create_time, update_time, create_user, update_user
        from customer
        where organization_id = #{orgId} and in_shared_pool is false
    </select>

    <select id="checkAddExist" resultType="java.lang.Boolean">
        select count(1)
        from customer
        where name = #{customer.name} and organization_id = #{customer.organizationId} limit 1
    </select>

    <select id="checkUpdateExist" resultType="java.lang.Boolean">
        select count(1)
        from customer
        where name = #{customer.name}
        and organization_id = (
            select organization_id from customer where id = #{customer.id}
        )
        and id != #{customer.id} limit 1
    </select>
</mapper>