<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.customer.mapper.ExtCustomerContactMapper">

    <select id="list" resultType="io.cordys.crm.customer.dto.response.CustomerContactListResponse">
        select cc.id, cc.customer_id, cc.name, cc.create_time, cc.update_time, cc.create_user, cc.update_user,
               cc.enable, cc.owner, cc.disable_reason, cc.phone

        from customer_contact cc

        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.filters"/>
            <property name="tablePrefix" value="filter"/>
        </include>
        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.combineSearch.conditions"/>
            <property name="tablePrefix" value="combine"/>
        </include>
        <include refid="fieldSortJoin">
            <property name="sort" value="request.sort"/>
        </include>

        <if test="dataPermission != null and dataPermission.deptIds.size() > 0">
            left join sys_organization_user sou on cc.owner = sou.user_id
            and sou.department_id in
            <foreach collection="dataPermission.deptIds" item="deptId" open="(" close=")" separator=",">
                #{deptId}
            </foreach>
        </if>

        where cc.organization_id = #{orgId}

        <if test="request.keyword != null and request.keyword != ''">
            and cc.name like concat('%', #{request.keyword},'%')
        </if>

        <if test="dataPermission != null and dataPermission.self">
            and cc.owner = #{userId}
        </if>

        <include refid="filters">
            <property name="filters" value="request.filters"/>
        </include>

        <include refid="combine">
            <property name="combineSearch" value="request.combineSearch"/>
        </include>

        <include refid="sort">
            <property name="sort" value="request.sort"/>
        </include>
    </select>

    <select id="sourceList" resultType="io.cordys.crm.customer.dto.response.CustomerContactListResponse">
        select distinct cc.id, cc.customer_id, cc.name, cc.create_time, cc.update_time, cc.create_user, cc.update_user,
        cc.enable, cc.owner, cc.disable_reason, cc.phone

        from customer_contact cc

        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.filters"/>
            <property name="tablePrefix" value="filter"/>
        </include>
        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.combineSearch.conditions"/>
            <property name="tablePrefix" value="combine"/>
        </include>
        <include refid="fieldSortJoin">
            <property name="sort" value="request.sort"/>
        </include>

        where cc.organization_id = #{orgId}
        <if test="userId != 'admin'">
            and cc.customer_id in (
                select distinct c.id from customer c
                left join customer_collaboration cc on c.id = cc.customer_id
                where cc.user_id = #{userId} or c.owner = #{userId}
            )
        </if>
        <if test="request.keyword != null and request.keyword != ''">
            and cc.name like concat('%', #{request.keyword},'%')
        </if>
        <include refid="filters">
            <property name="filters" value="request.filters"/>
        </include>

        <include refid="combine">
            <property name="combineSearch" value="request.combineSearch"/>
        </include>

        <include refid="sort">
            <property name="sort" value="request.sort"/>
        </include>
    </select>


    <sql id="sort">
        <choose>
            <when test="${sort} != null and ${sort}.valid()">
                <bind name="sortType" value="${sort}.type" />
                order by
                <choose>
                    <when test="${sort}.name == 'name'">
                        cc.`name` ${sortType}
                    </when>
                    <when test="${sort}.name == 'customerId'">
                        cc.`customer_id` ${sortType}
                    </when>
                    <when test="${sort}.name == 'owner'">
                        cc.`owner` ${sortType}
                    </when>
                    <otherwise>
                        sort_table.field_value ${sortType}
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by cc.create_time desc
            </otherwise>
        </choose>
    </sql>

    <sql id="fieldConditionJoin">
        <if test="${conditions} != null and ${conditions}.size() > 0">
            <foreach collection="${conditions}" item="condition" index="i">
                <if test="condition.name != 'name' and condition.name != 'owner'">
                    inner join customer_field ${tablePrefix}_${i}
                    on cc.id = ${tablePrefix}_${i}.resource_id and ${tablePrefix}_${i}.field_id = #{condition.name}
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="fieldSortJoin">
        <if test="${sort} != null and ${sort}.name != 'name' and ${sort}.name != 'owner'">
            <bind name="sortName" value="${sort}.name"/>
            left join customer_field sort_table
            on cc.id = sort_table.resource_id and sort_table.field_id = #{sortName}
        </if>
    </sql>

    <sql id="filters">
        <if test="${filters} != null and ${filters}.size() > 0">
            <trim prefix="and">
                <foreach collection="${filters}" item="condition" open="(" close=")" index="i" separator="and">
                    <include refid="condition">
                        <property name="condition" value="condition"/>
                        <property name="fieldTable" value="filter_${i}.field_value"/>
                    </include>
                </foreach>
            </trim>
        </if>
    </sql>

    <sql id="combine">
        <if test="${combineSearch} != null and ${combineSearch}.conditions != null and ${combineSearch}.conditions.size() > 0">
            <trim prefix="and">
                <trim prefix="(" suffix=")" suffixOverrides="and|or">
                    <foreach collection="${combineSearch}.conditions" index="i" item="condition">
                        <include refid="condition">
                            <property name="condition" value="condition"/>
                            <property name="fieldTable" value="combine_${i}.field_value"/>
                        </include>
                        <include refid="io.cordys.common.mapper.CommonMapper.searchMode">
                            <property name="searchMode" value="${combineSearch}.searchMode"/>
                        </include>
                    </foreach>
                </trim>
            </trim>
        </if>
    </sql>

    <sql id="condition">
        <choose>
            <when test="condition.name == 'name'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="cc.name"/>
                </include>
            </when>
            <when test="condition.name == 'customerId'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="cc.customer_id"/>
                </include>
            </when>
            <otherwise>
                <include refid="io.cordys.common.mapper.CommonMapper.moduleFieldCondition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="${fieldTable}"/>
                </include>
            </otherwise>
        </choose>
    </sql>

    <select id="checkAddExist" resultType="java.lang.Boolean">
        select count(1)
        from customer_contact
        where name = #{customerContact.name} and organization_id = #{customerContact.organizationId} limit 1
    </select>

    <select id="checkUpdateExist" resultType="java.lang.Boolean">
        select count(1)
        from customer_contact
        where name = #{customerContact.name}
        and organization_id = (
            select organization_id from customer_contact where id = #{customerContact.id}
        )
        and id != #{customerContact.id} limit 1
    </select>

    <select id="selectContactOptionByIds" resultType="io.cordys.common.dto.OptionDTO">
        SELECT id, name
        FROM customer_contact
        WHERE id IN
        <foreach collection="contactIds" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="listByCustomerId" resultType="io.cordys.crm.customer.dto.response.CustomerContactListResponse">
        select cc.id, cc.customer_id, cc.name, cc.create_time, cc.update_time, cc.create_user, cc.update_user,
        cc.enable, cc.owner, cc.disable_reason, cc.phone
        from customer_contact cc
        where cc.customer_id = #{customerId}
    </select>
</mapper>