<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.system.mapper.ExtDepartmentMapper">

    <select id="selectTreeNode" resultType="io.cordys.common.dto.BaseTreeNode">
        SELECT id, name, parent_id, organization_id
        FROM sys_department
        where organization_id = #{orgId}
        ORDER BY num
    </select>

    <select id="selectDeptUserTreeNode" resultType="io.cordys.common.dto.DeptUserTreeNode">
        SELECT id, name, parent_id, 'ORG' as nodeType
        FROM sys_department
        where organization_id = #{orgId}
        ORDER BY num
    </select>

    <select id="getNextNumByOrgId" resultType="java.lang.Long">
        SELECT max(num)
        FROM sys_department
        where organization_id = #{orgId}
    </select>

    <select id="getUserIdsByDeptIds" resultType="java.lang.String">
        select user_id
        from sys_organization_user
        where department_id in
        <foreach collection="deptIds" item="deptId" open="(" close=")" separator=",">
            #{deptId}
        </foreach>
    </select>

    <delete id="deleteByOrgId">
        DELETE FROM sys_department WHERE organization_id  = #{orgId}
    </delete>


    <select id="selectAllDepartment" resultType="io.cordys.crm.system.domain.Department">
        select id from sys_department where organization_id = #{orgId}
    </select>


    <select id="selectDepartment" resultType="io.cordys.common.dto.BaseTreeNode">
        select id, name, parent_id, organization_id from sys_department where name = #{name} and organization_id = #{orgId}
    </select>

    <select id="countByName" resultType="java.lang.Integer">
        select count(id) from sys_department where name = #{name} and organization_id = #{orgId} and parent_id = #{parentId}
    </select>


    <select id="selectBaseTreeById" resultType="io.cordys.common.dto.BaseTree">
        SELECT id, name, num, organization_id, parent_id
        FROM sys_department
        WHERE id = #{dragNodeId}
    </select>

    <select id="selectTreeByParentIdAndNumOperator"
            parameterType="io.cordys.common.dto.NodeSortQueryParam"
            resultType="io.cordys.common.dto.BaseTree">
        SELECT id, name, num, organization_id, parent_id
        FROM sys_department
        WHERE parent_id = #{nodeSortQueryParam.parentId}
        <if test="nodeSortQueryParam.operator == 'moreThan'">
            AND num &gt; #{nodeSortQueryParam.num}
        </if>
        <if test="nodeSortQueryParam.operator == 'lessThan'">
            AND num &lt; #{nodeSortQueryParam.num}
        </if>
        ORDER BY num
        <if test="nodeSortQueryParam.operator == 'lessThan' or nodeSortQueryParam.operator == 'latest'">
            DESC
        </if>
        LIMIT 1
    </select>


    <select id="selectChildrenIds" resultType="java.lang.String">
        SELECT id FROM sys_department WHERE parent_id  = #{parentId}
        ORDER BY num ASC
    </select>

    <update id="batchUpdate">
        UPDATE sys_department
        SET num = CASE
        <foreach collection="departmentList" item="department" separator=" ">
            WHEN id = #{department.id} THEN #{department.num}
        </foreach>
        END
        WHERE id IN
        <foreach collection="departmentList" item="department" open="(" close=")" separator=",">
            #{department.id}
        </foreach>
    </update>
</mapper>