<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.system.mapper.ExtDepartmentMapper">

    <select id="selectTreeNode" resultType="io.cordys.common.dto.BaseTreeNode">
        SELECT id, name, parent_id, organization_id
        FROM sys_department
        where organization_id = #{orgId}
        ORDER BY num
    </select>

    <select id="selectDeptUserTreeNode" resultType="io.cordys.common.dto.DeptUserTreeNode">
        SELECT id, name, parent_id, 'ORG' as nodeType
        FROM sys_department
        where organization_id = #{orgId}
        ORDER BY num
    </select>

    <select id="getNextNumByOrgId" resultType="java.lang.Long">
        SELECT max(num)
        FROM sys_department
        where organization_id = #{orgId}
    </select>

    <select id="getUserIdsByDeptIds" resultType="java.lang.String">
        select user_id
        from sys_organization_user
        where department_id in
        <foreach collection="deptIds" item="deptId" open="(" close=")" separator=",">
            #{deptId}
        </foreach>
    </select>

    <delete id="deleteByOrgId">
        DELETE FROM sys_department WHERE organization_id  = #{orgId}
    </delete>


    <select id="selectAllDepartment" resultType="io.cordys.crm.system.domain.Department">
        select id from sys_department where organization_id = #{orgId}
    </select>
</mapper>