<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.system.mapper.ExtDepartmentMapper">


    <select id="selectTreeNode" resultType="io.cordys.common.dto.BaseTreeNode">
        SELECT id, name, parent_id, organization_id
        FROM sys_department
        where organization_id = ${@io.cordys.common.context.OrganizationContext@getOrganizationId()}
        ORDER BY num
    </select>

</mapper>