<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cordys.crm.system.mapper.ExtModuleFieldMapper">

    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from sys_module_field where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deletePropByIds" parameterType="java.lang.String">
        delete from sys_module_field_blob where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getSourceOptionsByIds" resultType="io.cordys.common.dto.OptionDTO">
        select id, name from ${tableName} where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
    </select>
</mapper>