<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.cordys.crm.system.mapper.ExtNotificationMapper">

    <select id="listNotification" parameterType="io.cordys.crm.system.dto.request.NotificationRequest" resultType="io.cordys.crm.system.dto.response.NotificationDTO">
        SELECT * FROM sys_notification
        WHERE sys_notification.receiver = #{request.receiver} AND sys_notification.create_time &gt; (unix_timestamp()  - 90 * 24 * 3600) * 1000 and sys_notification.organization_id = #{organizationId}
        <if test='request.subject != null and request.subject != ""'>
            AND ( sys_notification.subject LIKE #{request.subject} OR sys_notification.content LIKE #{request.subject} )
        </if>
        <if test='request.type != null and request.type != ""'>
            AND sys_notification.type = #{request.type}
        </if>
        <if test='request.status != null and request.status != ""'>
            AND sys_notification.status = #{request.status}
        </if>
        <if test='request.resourceType != null and request.resourceType != ""'>
            AND sys_notification.resource_type LIKE #{request.resourceType}
        </if>
        ORDER BY sys_notification.create_time, sys_notification.status DESC
    </select>

    <delete id="deleteByTime" parameterType="java.lang.Long">
        DELETE FROM sys_notification WHERE create_time &lt; #{timestamp}
    </delete>

    <delete id="deleteByResourceId" parameterType="java.lang.String">
        DELETE FROM sys_notification WHERE resource_id = #{resourceId}
    </delete>

    <update id="updateByReceiver" parameterType="io.cordys.crm.system.domain.Notification">
        UPDATE sys_notification SET status = #{request.status} WHERE sys_notification.receiver = #{request.receiver}
        <if test='request.resourceType != null and request.resourceType != ""'>
            AND sys_notification.resource_type LIKE #{request.resourceType}
        </if>
        <if test='request.subject != null and request.subject != ""'>
            AND sys_notification.subject LIKE #{request.subject}
        </if>
        AND sys_notification.organization_id = #{request.organizationId}
    </update>

    <select id="countByReceiver" parameterType="io.cordys.crm.system.domain.Notification" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM sys_notification WHERE sys_notification.organization_id = #{request.organizationId}
        <if test='request.resourceType != null and request.resourceType != ""'>
            AND sys_notification.resource_type LIKE #{request.resourceType}
        </if>
        <if test='request.status != null and request.status != ""'>
            AND sys_notification.status = #{request.status}
        </if>
        AND sys_notification.receiver = #{request.receiver}
    </select>

    <select id="selectByAnyOne" parameterType="io.cordys.crm.system.domain.Notification" resultType="io.cordys.crm.system.dto.response.NotificationDTO">
        SELECT * FROM sys_notification WHERE sys_notification.organization_id = #{request.organizationId}
        <if test='request.resourceType != null and request.resourceType != ""'>
            AND sys_notification.resource_type LIKE #{request.resourceType}
        </if>
        <if test='request.subject != null and request.subject != ""'>
            AND sys_notification.subject LIKE #{request.subject}
        </if>
        <if test='request.status != null and request.status != ""'>
            AND sys_notification.status = #{request.status}
        </if>
        <if test='request.receiver != null and request.receiver != ""'>
            AND sys_notification.receiver = #{request.receiver}
        </if>
        <if test='request.resourceId != null and request.resourceId != ""'>
            AND sys_notification.resource_id = #{request.resourceId}
        </if>
    </select>

</mapper>
