<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.cordys.crm.system.mapper.ExtOrganizationConfigDetailMapper">

    <select id="getOrganizationConfigDetail" parameterType="io.cordys.crm.system.domain.OrganizationConfigDetail" resultType="io.cordys.crm.system.domain.OrganizationConfigDetail">
        SELECT * FROM sys_organization_config_detail WHERE config_id = #{configId} limit 1;
    </select>

    <select id="getOrganizationConfigDetails" parameterType="io.cordys.crm.system.domain.OrganizationConfigDetail" resultType="io.cordys.crm.system.domain.OrganizationConfigDetail">
        SELECT * FROM sys_organization_config_detail WHERE config_id = #{configId}
        <if test="name != null">
            and name like concat('%', #{name},'%')
        </if>
    </select>

    <select id="getOrganizationConfigDetailCount" parameterType="io.cordys.crm.system.domain.OrganizationConfigDetail" resultType="java.lang.Integer">
        SELECT count(id) FROM sys_organization_config_detail WHERE config_id = #{configId}
        <if test="name != null">
            and name like concat('%', #{name},'%')
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
    </select>

    <select id="getOrgConfigDetailByType" parameterType="io.cordys.crm.system.domain.OrganizationConfigDetail" resultType="io.cordys.crm.system.domain.OrganizationConfigDetail">
        SELECT * FROM sys_organization_config_detail WHERE config_id = #{configId}
        <if test="name != null">
            and name like concat('%', #{name},'%')
        </if>
        and type = #{type}
    </select>

    <select id="getRepeatDetails" parameterType="io.cordys.crm.system.domain.OrganizationConfigDetail" resultType="java.lang.Integer">
        SELECT count(id)
        FROM sys_organization_config_detail
        WHERE sys_organization_config_detail.name = #{name}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>

    <update id="updateStatus" parameterType="io.cordys.crm.system.domain.OrganizationConfigDetail">
        UPDATE sys_organization_config_detail SET enable = #{enable} WHERE type = #{type} AND id != #{id}
        AND config_id = #{configId}
    </update>

    <select id="getEnableOrganizationConfigDetails" parameterType="io.cordys.crm.system.domain.OrganizationConfigDetail" resultType="io.cordys.crm.system.domain.OrganizationConfigDetail">
        SELECT * FROM sys_organization_config_detail WHERE config_id = #{configId} and enable = true
        <if test="type != null">
            and type = #{type}
        </if>
    </select>

</mapper>