<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.system.mapper.ExtOrganizationUserMapper">


    <select id="countUserByDepartmentId" resultType="java.lang.Integer">
        select count(user_id)
        from sys_organization_user
        where department_id = #{departmentId}
          and organization_id = #{orgId}
    </select>

    <select id="list" resultType="io.cordys.crm.system.dto.response.UserPageResponse">
        SELECT
            sou.id,
            sou.user_id,
            sou.organization_id,
            sou.department_id,
            su.name userName,
            sou.`enable`,
            su.gender,
            su.phone,
            su.email,
            sou.supervisor_id,
            sou.employee_id,
            sou.position,
            sou.employee_type,
            sou.work_city,
            sou.create_time,
            sou.update_time,
            sou.create_user,
            sou.update_user
        FROM
            sys_organization_user sou
                INNER JOIN sys_user su ON sou.user_id = su.id
        where sou.department_id = #{request.departmentId}
        <if test="request.keyword != null and request.keyword != ''">
            and (
            su.name like concat('%', #{request.keyword},'%')
            or su.phone like concat('%', #{request.keyword},'%')
            )
        </if>
    </select>

    <update id="enable">
        update sys_organization_user
        set `enable` = #{request.enable},
            update_time = UNIX_TIMESTAMP() * 1000,
            update_user = #{operatorId}
        where id in
        <foreach collection="request.ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getUserList" resultType="io.cordys.crm.system.domain.User">
        SELECT
            su.id,
            su.name,
            su.phone,
            su.password
        from sys_user su
        inner join sys_organization_user sou on su.id = sou.user_id
        where sou.id in
        <foreach collection="request.ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteUserByOrgId">
        DELETE FROM sys_organization_user WHERE organization_id  = #{orgId} and user_id != 'admin'
    </delete>

    <select id="selectEnableOrgUser" resultType="io.cordys.common.dto.OptionDTO">
        SELECT
        su.id,
        su.name
        from sys_user su
        inner join sys_organization_user sou on su.id = sou.user_id
        where sou.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateUserByIds">
        update sys_organization_user
        <set>
            <if test="request.departmentId != null">
                department_id = #{request.departmentId},
            </if>
            <if test="request.supervisorId != null">
                supervisor_id = #{request.supervisorId},
            </if>
            <if test="request.workCity != null">
                work_city = #{request.workCity},
            </if>
            update_time = UNIX_TIMESTAMP() * 1000,
            update_user = #{operatorId}
        </set>
        <where>
            id in
            <foreach collection="request.ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>