<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cordys.crm.system.mapper.ExtUserMapper">

    <select id="selectById" resultType="io.cordys.security.UserDTO">
        SELECT *
        FROM sys_user
                 LEFT JOIN sys_user_extend ON sys_user.id = sys_user_extend.id
        WHERE sys_user.id = #{id}
    </select>

    <select id="selectUserOptionByIds" resultType="io.cordys.common.dto.OptionDTO">
        SELECT id, name
        FROM sys_user
        WHERE id IN
        <foreach collection="list" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getUserRole" resultType="io.cordys.crm.system.dto.convert.UserRoleConvert">
        SELECT sr.id, sr.name, sur.user_id
        FROM sys_role sr
        inner join sys_user_role sur on sr.id = sur.role_id
        WHERE sur.user_id IN
        <foreach collection="userIds" item="userId" index="index"
                 open="(" close=")" separator=",">
            #{userId}
        </foreach>
        and sr.organization_id = #{orgId}
    </select>

    <select id="getUserDetail" resultType="io.cordys.crm.system.dto.response.UserResponse">
        SELECT
            sou.id,
            sou.user_id,
            sou.organization_id,
            sou.department_id,
            su.NAME userName,
            sou.`enable`,
            su.gender,
            su.phone,
            su.email,
            sou.supervisor_id,
            sou.employee_id,
            sou.position,
            sou.employee_type,
            sou.work_city,
            sd.`name` departmentName
        FROM
            sys_user su
                INNER JOIN sys_organization_user sou ON su.id = sou.user_id
                INNER JOIN sys_department sd on sd.id = sou.department_id
        WHERE
            sou.id = #{id}
    </select>

    <select id="getOrgUserByUserIds" resultType="io.cordys.crm.system.domain.User">
        SELECT sys_user.id, sys_user.name
        FROM sys_user LEFT JOIN sys_organization_user on sys_organization_user.user_id = sys_user.id
        WHERE  sys_organization_user.organization_id = #{organizationId}
        AND sys_user.id IN
        <foreach collection="userIds" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectUserOption" resultType="io.cordys.common.dto.OptionDTO">
        SELECT id, name
        FROM sys_user
        WHERE organization_id = #{orgId}
    </select>

    <update id="batchUpdatePassword">
        UPDATE sys_user
        SET password = CASE
        <foreach collection="userList" item="user" separator=" ">
            WHEN id = #{user.id} THEN #{user.password}
        </foreach>
        END
        WHERE id IN
        <foreach collection="userList" item="user" open="(" close=")" separator=",">
            #{user.id}
        </foreach>
    </update>
</mapper>