<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.cordys.crm.opportunity.mapper.ExtOpportunityMapper">


    <select id="list" resultType="io.cordys.crm.opportunity.dto.response.OpportunityListResponse">
        SELECT
            o.id,
            o.NAME,
            c.id AS customerId,
            c.NAME AS customerName,
            o.create_time,
            o.update_time,
            o.create_user,
            o.update_user,
            o.owner,
            o.follower,
            o.follow_time,
            o.amount,
            o.possible,
            o.products,
            o.last_stage,
            o.stage,
            o.status,
            o.contact_id,
            sys_organization_user.department_id,
            sys_department.name as departmentName
        FROM
            opportunity o
                INNER JOIN customer c ON o.customer_id = c.id
        inner join sys_organization_user on o.owner = sys_organization_user.user_id
        inner join sys_department on sys_department.id = sys_organization_user.department_id
        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.filters"/>
            <property name="tablePrefix" value="filter"/>
        </include>
        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.combineSearch.conditions"/>
            <property name="tablePrefix" value="combine"/>
        </include>
        <include refid="fieldSortJoin">
            <property name="sort" value="request.sort"/>
        </include>

        where o.organization_id = #{orgId}

        <if test="dataPermission != null and dataPermission.deptIds.size() > 0">
            and sys_organization_user.department_id in
            <foreach collection="dataPermission.deptIds" item="deptId" open="(" close=")" separator=",">
                #{deptId}
            </foreach>
        </if>

        <if test="dataPermission != null and dataPermission.self">
            and o.owner = #{userId}
        </if>

        <if test="request.keyword != null and request.keyword != ''">
            and o.name like concat('%', #{request.keyword},'%')
        </if>

        <if test="request.searchType != null and request.searchType != '' and request.searchType == 'DEAL'">
            and o.owner = #{userId}
            and o.stage = 'SUCCESS'
        </if>

        <include refid="filters">
            <property name="filters" value="request.filters"/>
        </include>

        <include refid="combine">
            <property name="combineSearch" value="request.combineSearch"/>
        </include>

        <include refid="sort">
            <property name="sort" value="request.sort"/>
        </include>
    </select>


    <sql id="sort">
        <choose>
            <when test="${sort} != null and ${sort}.valid()">
                <bind name="sortType" value="${sort}.type" />
                order by
                <choose>
                    <when test="${sort}.name == 'name'">
                        o.`name` ${sortType}
                    </when>
                    <when test="${sort}.name == 'customerName'">
                        c.`name` ${sortType}
                    </when>
                    <when test="${sort}.name == 'owner'">
                        o.`owner` ${sortType}
                    </when>
                    <when test="${sort}.name == 'amount'">
                        o.`amount` ${sortType}
                    </when>
                    <when test="${sort}.name == 'possible'">
                        o.`possible` ${sortType}
                    </when>
                    <otherwise>
                        sort_table.field_value ${sortType}
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by o.create_time desc
            </otherwise>
        </choose>
    </sql>

    <sql id="fieldConditionJoin">
        <if test="${conditions} != null and ${conditions}.size() > 0">
            <foreach collection="${conditions}" item="condition" index="i">
                <if test="condition.name != 'name'
                and condition.name != 'owner'
                and condition.name != 'customerId'
                and condition.name != 'stage'
                and condition.name != 'amount'
                and condition.name != 'possible'
                and condition.name != 'products'
                and condition.name != 'contactId'
                and condition.name != 'followTime'
                and condition.name != 'status'
                and condition.name != 'updateUser'
                and condition.name != 'createTime'
                and condition.name != 'updateTime'
                and condition.name != 'createUser'
                and condition.name != 'follower'
                and condition.name != 'departmentId'">
                    inner join opportunity_field ${tablePrefix}_${i}
                    on o.id = ${tablePrefix}_${i}.resource_id and ${tablePrefix}_${i}.field_id = #{condition.name}
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="fieldSortJoin">
        <if test="${sort} != null
                and ${sort}.name != 'name'
                and ${sort}.name != 'owner'
                and ${sort}.name != 'customerId'
                and ${sort}.name != 'stage'
                and ${sort}.name != 'amount'
                and ${sort}.name != 'possible'
                and ${sort}.name != 'products'
                and ${sort}.name != 'contactId'
                and ${sort}.name != 'followTime'
                and ${sort}.name != 'status'
                and ${sort}.name != 'updateUser'
                and ${sort}.name != 'createTime'
                and ${sort}.name != 'updateTime'
                and ${sort}.name != 'createUser'
                and ${sort}.name != 'follower'
                and ${sort}.name != 'departmentId'">
            <bind name="sortName" value="${sort}.name"/>
            left join opportunity_field sort_table
            on c.id = sort_table.resource_id and sort_table.field_id = #{sortName}
        </if>
    </sql>

    <sql id="filters">
        <if test="${filters} != null and ${filters}.size() > 0">
            <trim prefix="and">
                <foreach collection="${filters}" item="condition" open="(" close=")" index="i" separator="and">
                    <include refid="condition">
                        <property name="condition" value="condition"/>
                        <property name="fieldTable" value="filter_${i}.field_value"/>
                    </include>
                </foreach>
            </trim>
        </if>
    </sql>

    <sql id="combine">
        <if test="${combineSearch} != null and ${combineSearch}.conditions != null and ${combineSearch}.conditions.size() > 0">
            <trim prefix="and">
                <trim prefix="(" suffix=")" suffixOverrides="and|or">
                    <foreach collection="${combineSearch}.conditions" index="i" item="condition">
                        <include refid="condition">
                            <property name="condition" value="condition"/>
                            <property name="fieldTable" value="combine_${i}.field_value"/>
                        </include>
                        <include refid="io.cordys.common.mapper.CommonMapper.searchMode">
                            <property name="searchMode" value="${combineSearch}.searchMode"/>
                        </include>
                    </foreach>
                </trim>
            </trim>
        </if>
    </sql>


    <sql id="condition">
        <choose>
            <when test="condition.name == 'name'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.name"/>
                </include>
            </when>
            <when test="condition.name == 'customerId'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.customer_id"/>
                </include>
            </when>
            <when test="condition.name == 'stage'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.stage"/>
                </include>
            </when>
            <when test="condition.name == 'amount'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.amount"/>
                </include>
            </when>
            <when test="condition.name == 'possible'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.possible"/>
                </include>
            </when>
            <when test="condition.name == 'products'">
                <include refid="io.cordys.common.mapper.CommonMapper.arrayValueCondition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.products"/>
                </include>
            </when>
            <when test="condition.name == 'contactId'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.contact_id"/>
                </include>
            </when>
            <when test="condition.name == 'owner'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.owner"/>
                </include>
            </when>
            <when test="condition.name == 'follower'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.follower"/>
                </include>
            </when>
            <when test="condition.name == 'followTime'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="o.follow_time"/>
                </include>
            </when>
            <when test="condition.name == 'departmentId'">
                <include refid="io.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="sys_organization_user.department_id"/>
                </include>
            </when>
            <otherwise>
                <include refid="io.cordys.common.mapper.CommonMapper.moduleFieldCondition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="${fieldTable}"/>
                </include>
            </otherwise>
        </choose>
    </sql>


    <select id="selectByProducts" resultType="java.lang.String">
        SELECT
            products
        FROM
            opportunity
        WHERE
        <foreach collection="request.products" item="product" separator="or" open="(" close=")">
            JSON_CONTAINS(products, JSON_ARRAY(#{product}))
        </foreach>
          AND organization_id = #{orgId}
          AND customer_id = #{request.customerId}
        <if test="id != null and id != ''">
            AND id != #{id}
        </if>
    </select>

    <update id="batchTransfer">
        update opportunity
        set owner = #{request.owner}
        where id in
        <foreach collection="request.ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="getDetail" resultType="io.cordys.crm.opportunity.dto.response.OpportunityDetailResponse">
        SELECT
            o.id,
            o.NAME,
            o.customer_id,
            c.NAME AS customerName,
            o.amount,
            o.possible,
            o.products,
            o.contact_id,
            o.last_stage,
            o.stage,
            o.owner,
            o.status,
            o.create_time,
            o.update_time,
            o.create_user,
            o.update_user
        FROM
            opportunity o
                INNER JOIN customer c ON o.customer_id = c.id
        where o.id = #{id}
    </select>
    <select id="getRepeatList" resultType="io.cordys.crm.opportunity.dto.response.OpportunityRepeatResponse">
        SELECT
            o.id,
            o.NAME,
            o.customer_id,
            o.products,
            o.stage,
            o.owner,
            u.NAME AS ownerName,
            o.status
        FROM
            opportunity o
                INNER JOIN sys_user u ON o.owner = u.id
        WHERE o.customer_id = #{customerId}
    </select>

    <select id="countByOwner" resultType="java.lang.Integer">
        select count(id) from opportunity
        where owner = #{owner}
    </select>

    <select id="getRepeatCountMap" resultType="io.cordys.common.dto.OptionDTO">
        select customer_id as id, count(id) as name from opportunity where customer_id in
        <foreach collection="customerIds" item="customerId" open="(" close=")" separator=",">
            #{customerId}
        </foreach>
        group by customer_id
    </select>

    <select id="getOpportunityOptionsByIds" resultType="io.cordys.common.dto.OptionDTO">
        select id, name
        from opportunity
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>