@import url('./var.less');
// 主要 outline 按钮
.n-button--tertiary-type {
  border: 1px solid var(--primary-8) !important;
  color: var(--primary-8) !important;
  .btn-outline-primary-hover();
  .btn-outline-primary-active();
  .btn-outline-primary-disabled();
}

// 次要边框按钮
.n-button--default-type.outline--secondary {
  .btn-outline-sec-default();
  .btn-outline-sec-hover();
  .btn-outline-sec-active();
  .btn-outline-sec-disabled();
}

// 次要文本按钮
.text-btn-secondary {
  &.n-button--default-type {
    .btn-text-sec-hover();
    .btn-text-sec-active();
    .btn-text-sec-disabled();
  }
}

// 次要文本主题按钮
.text-btn-primary {
  &.n-button--primary-type {
    .btn-text-default();
    .btn-text-primary-hover();
    .btn-text-primary-active();
    .btn-text-primary-disabled();
  }
}

// 文本error按钮
.text-btn-error {
  &.n-button--error-type {
    .btn-text-default();
    .btn-text-error-hover();
    .btn-text-error-active();
    .btn-text-error-disabled();
  }
}

// 文本warning按钮
.text-btn-warning {
  &.n-button--warning-type {
    .btn-text-default();
    .btn-text-warning-hover();
    .btn-text-warning-active();
    .btn-text-warning-disabled();
  }
}

// 文本success按钮
.text-btn-success {
  &.n-button--success-type {
    .btn-text-default();
    .btn-text-success-hover();
    .btn-text-success-active();
    .btn-text-success-disabled();
  }
}

// 文本info按钮
.text-btn-info {
  &.n-button--info-type {
    .btn-text-default();
    .btn-text-info-hover();
    .btn-text-info-active();
    .btn-text-info-disabled();
  }
}

// outline error状态按钮
.n-btn-outline-error {
  &.n-button--error-type {
    .btn-outline-error-hover();
    .btn-outline-error-active();
    .btn-outline-error-disabled();
  }
}

// outline warning状态按钮
.n-btn-outline-warning {
  &.n-button--warning-type {
    .btn-outline-warning-hover();
    .btn-outline-warning-active();
    .btn-outline-warning-disabled();
  }
}

// outline success状态按钮
.n-btn-outline-success {
  &.n-button--success-type {
    .btn-outline-success-hover();
    .btn-outline-success-active();
    .btn-outline-success-disabled();
  }
}

// outline info 状态按钮
.n-btn-outline-info {
  &.n-button--info-type {
    .btn-outline-info-hover();
    .btn-outline-info-active();
    .btn-outline-info-disabled();
  }
}
// small 24px 按钮尺寸
.n-button--small-type {
  height: 24px !important;
}
// medium 32px 按钮尺寸
.n-button--medium-type {
  height: 32px !important;
}
// 消息框
.n-message,
.n-notification,
.n-dropdown {
  border: 1px solid var(--text-n8) !important;
  box-shadow: @box-middle-shadow;
}
// 标签
.n-tag {
  .n-tag__content {
    overflow: hidden !important;
    max-width: 144px !important;
    text-overflow: ellipsis !important;
  }
}

// tooltip 最大限制
.n-tooltip {
  max-width: 300px;
  max-height: 400px;
}

// 表格
.n-data-table {
  .n-data-table-empty {
    border-bottom: 1px solid var(--text-n8);
  }
  .n-data-table-thead {
    .n-data-table-tr:not(.n-data-table-tr--summary):hover {
      background-color: var(--text-n10);
    }
  }
  .n-data-table-th {
    border-top: 1px solid var(--text-n8);
    .n-data-table-th__title-wrapper {
      float: left; // 只有设置这个 排序和过滤才能拼一起
      width: fit-content;
      height: 22px;
      .n-data-table-th__title {
        flex: none !important;
      }
      .n-data-table-sorter {
        margin-left: 8px;
      }
    }
    // 过滤的样式
    .n-data-table-filter {
      position: relative;
      width: 32px;
      height: 22px;
      &:hover {
        background-color: transparent;
      }
      &.n-data-table-filter--show {
        background-color: transparent;
      }
      &.n-data-table-filter--active {
        border-radius: 0 2px 2px 0;
        background-color: var(--primary-7);
      }
    }
    // 过滤时标题的样式
    &:has(> .n-data-table-filter--active) {
      .n-data-table-th__title-wrapper {
        border-radius: 2px 0 0 2px !important;
        background-color: var(--primary-7);
      }
      .n-data-table-th__title {
        color: var(--primary-8);
      }
    }
    // 排序时标题的样式
    &.n-data-table-th--sorting {
      .n-data-table-th__title-wrapper {
        border-radius: 2px;
        background-color: var(--primary-7);
      }
      .n-data-table-th__title {
        color: var(--primary-8);
      }
    }
  }
  .n-data-table-td {
    padding-top: 0;
    padding-bottom: 0;
    height: 46px;
  }
}

// 分页
.n-pagination {
  .n-pagination-quick-jumper {
    padding: 2px 8px;
    border-radius: 3px;
    background-color: var(--text-n9);
  }
}
