/** 圆角 **/
@border-radius-mini: 2px;
@border-radius-small: 4px;
@border-radius-medium: 6px;
@border-radius-large: 12px;

@color-white: #fff;
@color-text-5: #aeaeb2;

/** 投影 **/
@box-base-shadow: 0 4px 10px -1px rgba(100 103 103 / 15%);
@box-middle-shadow: 0 4px 15px 2px rgba(100 103 103 / 10%);
@box-large-shadow: 0 6px 35px 6px rgba(100 103 103 / 10%);
